<!DOCTYPE html>
<html>
<head>
    <title>Training</title>
    <style>
        body {
            background-color: #121212;
            color: white;
            text-align: center;
            font-family: Arial;
        }
        .btn {
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #1f77b4;
            border: none;
            color: white;
            cursor: pointer;
        }
    </style>
</head>

<body>

<h1>{{ message }}</h1>

<p>Model has been retrained using latest data.</p>

<a href="/">
    <button class="btn">Back to Dashboard</button>
</a>

</body>
</html>